body{
    background-color:rgb(48, 47, 47) ;
    color: black;
}
header{
    flex-wrap: wrap;
    text-align: center;

}
h1{
    
    text-align: center;
    color: black;
    background-color: whitesmoke;
    font-size: 5em;
}
main {

  
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 80%;

    
}