
    
/**
https://coolors.co/353535-3c6e71-ffffff-d9d9d9-284b63
Paleta de colores
#353535   negro
#3C6E71   verde
#FFFFFF   blanco
#D9D9D9   gris
#284B63   azul oscuro
*/

/* Especificidad -> (0,0,1) */
body {


  color: #353535;
  background-color:#D9D9D9;
  line-height: 1.8;
  font: 400 16px Palatino,serif ;
  display: grid;
  
  }
  /* Especificidad -> (0,0,1) */
  header {
      color: #FFFFFF;
      background-color:#284B63;
      margin: 0 auto;
      width: 100%;
      display: block;
  
  
    
  }
  /* Especificidad -> (0,0,1) */
  main{
      margin-top: 1em;
      display: grid;
      color: #353535;
      background-color:#D9D9D9;
  
      
  }
  /* Especificidad -> (0,0,1) */
  footer{
      clear: both;
  
      display: block;
      background-color: #3C6E71;
      color: #FFFFFF;
   
    
  }
  /* Especificidad -> (0,0,1) */
  h1{
      color: #FFFFFF;
      background-color:#284B63;
      text-align: center;
      font-size: xx-large;
  }
  /* Especificidad -> (0,0,1) */
  h2{
      color: #353535;
      background-color:#D9D9D9;
      display: block;
      width: 99%;
  }
  /* Especificidad -> (0,0,1) */
  p{
      margin-left: 1%;
  }
  
  
  
  