/* CalculadoraBasica.css */
/* Version 1.0. 29/10/2020. Daniel Pascual Lopez. Universidad de Oviedo */
body{
    background-color:rgb(240, 181, 71) ;
    color:black;
}
h1{
    text-align: center;
    color: black;
    background-color: whitesmoke;
    font-size: 5em;
}


main ul{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;

    text-align: right;
    align-self: center;
    font-size: 1em;
    border: 3px black ridge;
    background-color: rgb(255, 255, 255);
    color:black;
    overflow: hidden;
    margin-top: 1em;
    list-style-type: none;
}

main ul li{
    text-align: right;
    padding: 0.1em;
    display: block;
    list-style-type: none;
}
main p{
    display: grid;
}
input{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
input[type="button"]{
    margin-top: 1em;
    width: 50%;
}