/* CalculadoraBasica.css */
/* Version 1.0. 29/10/2020. Daniel Pascual Lopez. Universidad de Oviedo */
body{
    background-color:rgb(255, 255, 255) ;
    color:black;
}
form{
    display: block;
    
    grid-template-columns: repeat(5, 1fr);
    background-color: rgb(173, 173, 173);
    color:black;
    border: 3px black ridge;
    padding: 0.5em;
    max-width: 30em;
}
form p{

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    

}
form input[type="text"]{

    width: 98%;
    min-height: 2em;
 
    text-align: right;
    align-self: center;
    font-size: 2.5em;

    background-color: rgb(185, 185, 185);
    color:black;
    overflow: hidden;


}

input[type="button"] {
 
    font-size:1em;
    background-color:rgb(226, 226, 226) ;
    color:black;
    padding: 1em;
}
input[type="button"]:nth-child(-n+5) {
 
    font-size:1em;
    background-color:rgb(179, 179, 179) ;
    color:black;
    padding: 1em;
}
